<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Budget</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>

<h2>Search Budget Record</h2>

<form method="POST">
    {% csrf_token %}

    <input type="number" name="bid" placeholder="Enter Budget ID" required>

    <button type="submit">Search</button>

    {% if error %}
        <p style="color:red;"><b>{{error}}</b></p>
    {% endif %}
</form>

<br>

{% if a %}
<table>
    <thead>
        <tr>
            <th>Budget Id</th>
            <th>User Id</th>
            <th>Monthly Limit</th>
            <th>Month</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{a.bid}}</td>
            <td>{{a.uid}}</td>
            <td>{{a.monthly_limit}}</td>
            <td>{{a.month}}</td>
        </tr>
    </tbody>
</table>
{% endif %}

</body>
</html>