<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Category</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        
        <input type="number"
        name="cid"
        placeholder="enter a Ctegory ID"
        required>

        <button type="submit">Delete Ctegory</button>

        {% if error %}
        <p><b>{{error}}</b></p>
        {% endif %}



    </form>
</body>
</html>